<div>
  <h2><strong>Hello <%= @user.username %>!!!</strong></h2>
</div>

<hr>

<div>
  <h3>Vos organes🩸(<%= @user.owner_organs.count %>)</h3>
</div>

<div>
  <% @user.owner_organs.each do |organ| %>
    <%= link_to organ_path(organ) do %>
      <div>
        <%# <%= organ.photo.key %>
        <%= organ.organ_type.capitalize %><br>
        <%= organ.condition %><br>
        <%= organ.city %><br>
        <%= "#{organ.price} €" %><br>
      </div>
    <% end %>
  <% end %>
</div>

<hr>

<div>
  <h3>Vos réservations ♥ (<%= @user.customer_bookings.count %>)</h3>
</div>

<div>
  <% @user.customer_bookings.each do |booking| %>
    <%= link_to organ_path(booking.organ) do %>
      <div>
        <%# <%= booking.photo.key %>
        <%= booking.renting_at %>
      </div>
    <% end %>
  <% end %>
</div>
