<div class='titles'>
  <h2><strong>Bonjour, super <%= @user.username %>!!</strong></h2>
</div>

<hr>

<div>
  <h3 class='titles'>Vos organes🩸(<%= @user.owner_organs.count == 0 ? 0 : @user.owner_organs.count %>)</h3>
</div>

<div class="container organ-container-user">
  <% @user.owner_organs.each do |organ| %>
    <%= link_to organ_path(organ), class:'card-organ' do %>
        <%= image_tag "organs_picto/#{organ.organ_type}.svg" %>
      <div class="card-organ-infos card-organ-infos-user">
        <h2><%= organ.organ_type %></h2>
        <p><%= "#{organ.price} €" %></p>
      </div>
    <% end %>
  <% end %>
</div>

<hr>

<div>
  <h3 class='titles'>Vos réservations ♥ (<%= @user.customer_bookings.count == 0 ? 0 : @user.customer_bookings.count %>)</h3>
</div>

<div class='booking-resa'>
  <% @user.customer_bookings.each do |booking| %>
    <%= link_to organ_path(booking.organ),class: "booking-card" do %>
        <%= image_tag "organs_picto/#{booking.organ.organ_type}.svg", class: "booking-img" %>
        <p class='card-text'><%= booking.renting_at %></p>
    <% end %>
  <% end %>
</div>
