<div><%= render 'shared/banner' %> </div>

<ul>
  <% Organ::TYPES.each do |organ_type| %>
    <li>
      <%= link_to "#{organ_type.capitalize}", root_path('organ_type' => organ_type) %>
    </li>
  <% end %>
</ul>



<div>
  <% @organs.each do |organ| %>
    <div>
    <%# <%= raise %>
    <%# <%= organ.photo.key  %>
    <%= organ.organ_type %>
    <%= organ.price %>
    </div>
  <% end %>
</div>
