<<<<<<< HEAD
<div><%= render 'shared/banner' %> </div>

=======
<%# categories %>
>>>>>>> 3c6ae1df849fd91de94b017124d5ebb134b8251a
<ul>
  <% Organ::TYPES.each do |organ_type| %>
    <li>
      <%= link_to "#{organ_type.capitalize}", root_path('organ_type' => organ_type) %>
    </li>
  <% end %>
</ul>

<<<<<<< HEAD


=======
<%# cards %>
>>>>>>> 3c6ae1df849fd91de94b017124d5ebb134b8251a
<div>
  <% @organs.each do |organ| %>
    <%= link_to organ_path(organ) do %>
      <div>
        <%# <%= raise %>
        <%# <%= organ.photo.key  %>
        <%= organ.organ_type %>
        <%= organ.price %>
      </div>
    <% end %>
  <% end %>
</div>
