<div><%= render 'shared/banner' %> </div>
<%# categories %>

<div class="container category-container">
  <% Organ::TYPES.each do |organ_type| %>
      <%= link_to root_path('organ_type' => organ_type), class:'card-category' do %>
        <%= image_tag "organs_picto/#{organ_type}.svg" %>
        <p class="text-if-hover"> <%= organ_type.capitalize %> </p>
      <% end  %>
  <% end %>
</div>


<%# cards %>
<div class="container organ-container">
  <% @organs.each do |organ| %>
    <%= link_to organ_path(organ) do %>
      <div>
        <%# <%= raise %>
        <%# <%= organ.photo.key  %>
        <p><%= organ.organ_type %></p>
        <p><%= "#{organ.price} €" %></p>
      </div>
    <% end %>
  <% end %>
</div>
