<div><%= render 'shared/banner' %> </div>
<%# categories %>
<ul>
  <% Organ::TYPES.each do |organ_type| %>
    <li>
      <%= link_to "#{organ_type.capitalize}", root_path('organ_type' => organ_type) %>
    </li>
  <% end %>
</ul>
<%# cards %>
<div>
  <% @organs.each do |organ| %>
    <%= link_to organ_path(organ) do %>
      <div>
        <%= organ.organ_type %>
        <%= organ.price %>
      </div>
    <% end %>
  <% end %>
</div>
