<!DOCTYPE html>
<html>
  <head>
    <title>ORGANSApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%# --> Début NAVBAR %>
    <%# From modele le Wagon + bootstrap pour Search bar %>
    <%# On the left: LOGO %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "main-logo.jpg" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <%# Center: SEARCHBAR %>
    <div>Quel organe voulez-vous ?</div>
      <%= simple_form_for :search, method: :get,
                                   url: organs_path,
                                   html: { class: 'd-flex my-3' }, defaults: {required: false} do |f| %>
        <%= f.input :organ_type, collection: Organ::TYPES,
                               selected: params.dig(:organ_type),
                               include_blank: true,
                               label: false,
                               placeholder: "Categorie",
                               input_html: {name: :organ_type,} %>
        <%= f.input :city, collection: Organ::CITIES,
                           selected: params.dig(:city),
                           include_blank: true,
                           label: false,
                           placeholder: "Ville",
                           input_html: {name: :city} %>
        <%= f.input :date, as: :date,
                           label: false,
                           html5: true,
                           input_html: {name: :date, value: params.dig(:date)} %>
        <div>
          <%= f.submit "Search 🔍", class: "btn btn-gradient"  %>
        </div>
      <% end %>

    <%# On the right: USER ACCOUNT %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My bookings", user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= image_tag "user-photo-example.jpg", class: "avatar", alt: "avatar"%>
            </li>

          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%# <-- Fin NAVBAR %>

    <%= yield %>
    <%= render 'shared/flashes' %>

    <%# Début FOOTER --> %>
    <div class="footer footer-copyright">
      This website was made with ♥️ by Nathan 🛶, Simon 🍺 et Anne-Charlotte ✨ @Le Wagon, Lyon.
    </div>
    <%# <-- Fin FOOTER %>

  </body>
</html>
