<!DOCTYPE html>
<html>
  <head>
    <title>ORGANSApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%# --> Début NAVBAR %>
    <%# From modele le Wagon + bootstrap pour Search bar %>
    <%# On the left: LOGO %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "main-logo.jpg" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <%# Center: SEARCHBAR %>
    <div>Quel organe voulez-vous ?</div>
      <form class="d-flex">
          <input class="form-control" list="typeDatalistOptions" id="typeDataList" placeholder="Choisir un organe">
            <datalist id="typeDatalistOptions">
              <option value="Peu importe...">
              <% Organ::TYPES.each do |organ_type| %>
                <option value=<%=organ_type.capitalize%>>
              <% end %>
            </datalist>
          <input class="form-control" list="cityDatalistOptions" id="cityDataList" placeholder="Choisir une ville">
            <datalist id="cityDatalistOptions">
              <option value="Peu importe...">
              <% Organ::CITIES.each do |city| %>
                <option value=<%=city.capitalize%>>
              <% end %>
            </datalist>
          <input class="form-control me-2" type="search" id="dateDataList" placeholder="Choisir un jour" aria-label="Search">

          <button class="btn btn-gradient" type="submit"> 🔍 </button>
      </form>

    <%# On the right: USER ACCOUNT %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My bookings", user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= image_tag "user-photo-example.jpg", class: "avatar-large", alt: "avatar-large"%>
            </li>

          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%# <-- Fin NAVBAR %>

    <%= yield %>

    <%# Début FOOTER --> %>
    <div class="footer footer-copyright">
      This website was made with ♥️ by Nathan 🛶, Simon 🍺 et Anne-Charlotte ✨ @Le Wagon, Lyon.
    </div>
    <%# <-- Fin FOOTER %>

    <p class="notice"><%= notice %></p>
  </body>
</html>
